
/*.mainbody{  margin-left: auto;margin-right: auto; width:960px}*/

/*	Layout 1	*/				
.Layout1_1{ width:33.3%; background-color:Red;  height:400px; float:left;}						
.Layout1_2{ width:33.3%; background-color:Blue; float:left; height:400px; }						
.Layout1_3{ width:33.3%; background-color:Green; float:left; height:400px; }						
.Layout1_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 2	*/				
						
.Layout2_1{ width:30%; background-color:Red;  height:400px; float:left;}						
.Layout2_2{ width:70%; background-color:Blue; float:left; height:400px; }						
.Layout2_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 3	*/				
						
.Layout3_1{ width:70%; background-color:Red;  height:400px; float:left;}						
.Layout3_2{ width:30%; background-color:Blue; float:left; height:400px; }						
.Layout3_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 4	*/				
.Layout4_1{ width:60%; background-color:Red;  height:400px; float:left;}						
.Layout4_2{ width:20%; background-color:Blue; float:left; height:400px; }						
.Layout4_3{ width:20%; background-color:Green; float:left; height:400px; }						
.Layout4_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 5	*/				
.Layout5_1{ width:20%; background-color:Red;  height:400px; float:left;}						
.Layout5_2{ width:20%; background-color:Blue; float:left; height:400px; }						
.Layout5_3{ width:60%; background-color:Green; float:left; height:400px; }						
.Layout5_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 6	*/				
.Layout6_1{ width:25%; background-color:Red;  height:400px; float:left;}						
.Layout6_2{ width:25%; background-color:Blue; float:left; height:400px; }						
.Layout6_3{ width:25%; background-color:Green; float:left; height:400px; }						
.Layout6_4{ width:25%; background-color:purple; float:left; height:400px; }						
.Layout6_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 7	*/				
.Layout7_1{ width:20%; background-color:Red;  height:400px; float:left;}						
.Layout7_2{ width:60%; background-color:Blue; float:left; height:400px; }						
.Layout7_3{ width:20%; background-color:Green; float:left; height:400px; }						
.Layout7_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 8	*/				
.Layout8_1{ width:100%; background-color:Red;  height:400px; float:left;}						
.Layout8_2{ width:100%; background-color:Blue; float:left; height:100px; }						
.Layout8_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 9	*/				
.Layout9_1{ width:20%; background-color:Red;  height:800px; float:left;}						
.Layout9_2{ width:60%; background-color:Blue; float:left; height:800px; }						
.Layout9_3{ width:20%; background-color:Green; float:left; height:800px; }						
.Layout9_header{ background-color:Yellow; width:0%; height:0px;}						
/*	Layout 10	*/				
.Layout10_1{ width:50%; background-color:Red;  height:400px; float:left;}						
.Layout10_2{ width:50%; background-color:Blue; float:left; height:400px; }						
.Layout10_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 11	*/				
.Layout11_1{ width:50%; background-color:Red;  height:400px; float:left;}						
.Layout11_2{ width:50%; background-color:Blue; float:left; height:400px; }						
.Layout11_3{ width:50%; background-color:Green; float:left; height:400px; }						
.Layout11_4{ width:50%; background-color:Orange; float:left; height:400px; }						
.Layout11_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 12	*/				
.Layout12_1{ width:25%; background-color:Red;  height:800px; float:left;}						
.Layout12_2{ width:25%; background-color:Blue; float:left; height:800px; }						
.Layout12_3{ width:50%; background-color:Green; float:left; height:400px; }						
.Layout12_4{ width:50%; background-color:Orange; float:left; height:400px; }						
.Layout12_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 13	*/				
.Layout13_1{ width:60%; background-color:Red;  height:600px; float:left;}						
.Layout13_header{ background-color:Yellow; width:60%; height:100px;}						
/*	Layout 14	*/				
.Layout14_1{ width:100%; background-color:Red;  height:200px; float:left;}						
.Layout14_2{ width:100%; background-color:Blue; float:left; height:600px; }						
.Layout14_3{ width:100%; background-color:Green; float:left; height:100px; }						
.Layout14_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 15	*/				
.Layout15_1{ width:50%; background-color:Red;  height:800px; float:left;}						
.Layout15_2{ width:50%; background-color:Blue; float:left; height:400px; }						
.Layout15_3{ width:50%; background-color:Green; float:left; height:400px; }						
.Layout15_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 16	*/				
.Layout16_1{ width:100%; background-color:Red;  height:200px; float:left;}						
.Layout16_2{ width:33.3%; background-color:Blue; float:left; height:600px; }						
.Layout16_3{ width:33.3%; background-color:Green; float:left; height:600px; }						
.Layout16_4{ width:33.3%; background-color:purple; float:left; height:600px; }						
.Layout16_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 17	*/				
.Layout17_1{ width:33.3%; background-color:Red;  height:200px; float:left;}						
.Layout17_2{ width:33.3%; background-color:Blue; float:left; height:200px; }						
.Layout17_3{ width:33.3%; background-color:Green; float:left; height:200px; }						
.Layout17_4{ width:100%; background-color:purple; float:left; height:400px; }						
.Layout17_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 18	*/				
.Layout18_1{ width:30%; background-color:Red;  height:200px; float:left;}						
.Layout18_2{ width:70%; background-color:Blue; float:left; height:200px; }						
.Layout18_3{ width:100%; background-color:purple; float:left; height:400px; }						
.Layout18_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 19	*/				
.Layout19_1{ width:100%; background-color:Red;  height:200px; float:left;}						
.Layout19_2{ width:50%; background-color:Blue; float:left; height:600px; }						
.Layout19_3{ width:50%; background-color:purple; float:left; height:600px; }						
.Layout19_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 20	*/				
						
.Layout20_1{ width:33.3%; background-color:Red;  height:200px; float:left;}						
.Layout20_2{ width:33.3%; background-color:Blue; float:left; height:200px; }						
.Layout20_3{ width:33.3%; background-color:Green; float:left; height:200px; }						
.Layout20_4{ width:50%; background-color:purple; float:left; height:400px; }						
.Layout20_5{ width:50%; background-color:Orange; float:left; height:400px; }						
.Layout20_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 21	*/				
.Layout21_1{ width:100%; background-color:Red;  height:300px; float:left; margin-top:100px;}						
.Layout21_header{ background-color:Yellow; width:100%; height:100px;}						
/*	Layout 22	*/				
.Layout22_1{ width:100%; background-color:Red;  height:800px; float:left;}						
.Layout22_header{ background-color:Yellow; width:0%; height:0px;}						

/* Highlighted Paragraphs */
.highlight-1, .highlight-2, .highlight-3 {
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	padding : 5px 10px;
}
	.highlight-1 {
		background : #FFCCCC;
		border : 1px dotted #FF9966;	
		text-align: center;
	}
	.highlight-2 {
		background : #FFFF99;
		border : 1px dotted #FFCC33;
		text-align: center;		
	}
	.highlight-3 {
		background : #CCFF99;
		border : 1px dotted #CCCC33;
		text-align: center;
	}
	
	/*header*/
/* .header a{
		color : #FFF;
		padding : 0 0 0 280px;
		font-size : 16px;
		text-align: right;
	}
	.header a:hover {
		color : #FFF;
	}
	.header p {
		-moz-border-radius : 4px;
		-webkit-border-radius : 4px;
		background : #FFF;
		bottom : 20px;
		color : #000;
		font-weight : bold;
		opacity : 0.5;
		padding : 10px;
		position : absolute;
		right : 20px;
		width : 500px;
	} */

/* new style */

#a {
    padding: 4px 0px 0 0px;
    width: 100%;
}

.topHeader {
    margin: -10px 0px;
}

#menu {
    padding: 25px 4px;
}

.footer {
    margin: 0 0 0 -20px;
}

#b {
    margin: 0px 0px;
}

.loginContentSection {
    margin-left: 0;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#b {
    -webkit-box-shadow: 0px 1px 9px px #666666;
    -moz-box-shadow: 0px 1px 9px 2px #666666;
    -o-box-shadow: 0px 1px 9px 2px #666666;
    -ms-box-shadow: 0px 1px 9px 2px #666666;
    box-shadow: none;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -o-border-radius: 0em;
    -ms-border-radius: 0em;
    border-radius: 0em;
}

/*.learnMoreLink {
    position: absolute;
    left: -42%;
    top: 40%;
}*/

#a > div:nth-child(2) {
    width: 980px;
    margin: 0 auto;
}
.table-style {
	float:none;
    display: block;
    margin: 30px auto;
	min-width: 470px;
}

.section1 {
    width: 1000px;
    margin: 0 auto;
}

.section2 {
    width: 980px;
    height: 500px;
    margin: 0;
    background: #d5e0dc;
    margin: 0 auto;
}

#image {
    position: relative;
    width: 100%; 
    margin-bottom: -18px;

}
.text {
    color: white;
    font: 36px Georgia, serif;
    left: 5%;
    top: 10%;
    right: 5%;
    text-align: center;
}


.learnMoreLink {
    top: 50%;
}

.topHeader {
    background: #bcb9ba;
    margin: -36px 0px;
}

#menu {
    background: #303D7D;
}

.job-seekers, .employers {
    height: 200px;
    padding-top: 50px;
}

.clickhere{
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #ffffff;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    display: block;
    margin: 20px;
}

#menu li {
    border: 1px solid #737373;
    box-shadow: 0 3px 5px #000305;
    background: #737373;
    border-radius: 5px;
}

/* added new */

.table-style h3 {
    border-bottom: 1px solid #303D7D;
}

article input.button, .btn {
    font-size: 14px;
}
